<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%; width: 100%">
        <div class="alert alert-info"><b>Angular 7 HTTP GET Data Using HTTP</b></div>
        <p></p>
        <table border=".5px" style="border-color: blue; background-color: beige; width: 50%" class="table-responsive">
            <thead>
                    <tr style="background-color: rgb(235, 167, 84);">
                        <th>Emp Id</th>
                        <th>Emp Name</th>
                        <th>Emp Designation</th>
                        <th>Emp Salary</th>
                    </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{employee.empId}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.designation}}</td>
                    <td>{{employee.salary}}</td>
                </tr>
            </tbody>
          </table>
        
</div>
